.CanDetailUpdate_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.CanDetailUpdate_Card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  width: 500px !important;
  padding: 30px 20px;
  margin-top: 20px;
}
.Candidate_Education {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Education_timePeriod {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .CanDetailUpdate_container {
    margin-top: 20px;
  }
  .CanDetailUpdate_Card {
    width: 300px !important;
  }
  .Education_timePeriod {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
