.recruiter_Model_buttons {
  padding: 20px 0px;
}
.recruiter_Model_ok_btn {
  background-color: darkred !important;
  color: white !important;
  margin-left: 40px !important;
  font-size: 18px;
}
.recruiter_Model_cancel_btn {
  margin-left: 40px !important;
  font-size: 18px;
  background-color: darkgreen !important;
  color: white !important;
}
@media only screen and (max-width: 425px) {
  .Recruiter_cardContent {
    display: flex !important;

    flex-direction: column !important;
  }
  .recruiter_card {
    padding: 10px;
    margin: 10px !important;
    padding: 10px 20px !important;
  }
  .recruiter_card_imgBox {
    display: flex;
    align-items: center;
    padding: 0px 30px !important;
  }
  /* .recruiter_card_buttons {
    display: flex !important;
    flex-direction: row !important;
  } */
}
